<div class="col">
  <div class="card rounded h-100"
       style="width: 17rem;">
    <div class="card-body card3Body px-4 pt-3 pb-3">
        <img src="../../assets/images/shield.png">
      <h4 class="card-title cardTitle mb-3">
        Get Verified.</h4>
      <p class="card-text cardText ">A badge is our way of showing that Eden members are who they say they are. Verified badges on your listings have an <b> 50% increase in the Open Rate </b>from future buyers.</p>
        <button class="cardBtn mb-3 mt-3" (click)='learnMoreLink()' >Learn More
        </button>
    </div>
  </div>
</div>