@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/* dont make changes here...if made check for the components ..if the alignment changes */
/* no changes here */
.nav-link {
  font-size: large;
}

.business-profile-root{
  /* background: red; */
  background: #F1F5FF;
  font:"Proxima Nova"
}

.cardBtn{
position: relative;
color:white;
width: fit-content;
max-width: fit-content;
min-width: 7rem;
height: 2.5rem;
background: #FF2E59;
border: 1px solid #FF2E59;
border-radius: 8px;
font-size: 16px;
font-weight: 700;
}
/* no changes here */
 
/* convert the below one  to scss so the no of lines will reduce */
/* from here ----> */
.cardTitle{
  color: #1F1C47;
  letter-spacing: -0.02em;
}
/* .cardTitle.ct-14{
  color: #1F1C47;
  letter-spacing: -0.02em;
  font-size: 14px;
}
.cardTitle.ct-16{
  color: #1F1C47;
  letter-spacing: -0.02em;
  font-size: 14px;
} */
/* <--- until here */


.cardText{
  color: #554E4E;
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 400;
}

