<div class="col">
  <div class="card h-100 rounded border-light "
       style="width: 22rem;">
    <div class="card-body p-4 card1Body ">
      <h4 class="card-title cardTitle mt-2 mb-3">Hello <span style="color: #FF2E59">{{name}}!</span><br>
        Let's start building your business Profile.
      </h4>
      <p class="card-text cardText">Users with a complete business profile have a 60% higher rate of selling their business
        based on Eden Exchange’s data.
      </p>
      <p class="card-text cardText mb-2">Make sure you fill in the mandatory information required. You can always come back and
        finish your business profile later.</p>
    </div>
  </div>
</div>